<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[无奈]</key>
	<string>无奈.png</string>
	<key>[鄙视]</key>
	<string>鄙视.png</string>
	<key>[大哭]</key>
	<string>大哭.png</string>
	<key>[流汗]</key>
	<string>流汗.png</string>
	<key>[坏笑]</key>
	<string>坏笑.png</string>
	<key>[困]</key>
	<string>困.png</string>
	<key>[害羞]</key>
	<string>害羞.png</string>
	<key>[生气]</key>
	<string>生气.png</string>
	<key>[震惊]</key>
	<string>震惊.png</string>
	<key>[晕]</key>
	<string>晕.png</string>
	<key>[色]</key>
	<string>色.png</string>
	<key>[吐]</key>
	<string>吐.png</string>
	<key>[闭嘴]</key>
	<string>闭嘴.png</string>
	<key>[衰]</key>
	<string>衰.png</string>
	<key>[酷]</key>
	<string>酷.png</string>
	<key>[尼玛]</key>
	<string>尼玛.png</string>
	<key>[砸脸]</key>
	<string>砸脸.png</string>
	<key>[可爱]</key>
	<string>可爱.png</string>
	<key>[怪笑]</key>
	<string>怪笑.png</string>
	<key>[加油]</key>
	<string>加油.png</string>
	<key>[鼻血]</key>
	<string>鼻血.png</string>
	<key>[发光]</key>
	<string>发光.png</string>
	<key>[抠鼻]</key>
	<string>抠鼻.png</string>
	<key>[尼煤]</key>
	<string>尼煤.png</string>
	<key>[亲亲]</key>
	<string>亲亲.png</string>
	<key>[石化]</key>
	<string>石化.png</string>
	<key>[顽皮]</key>
	<string>顽皮.png</string>
	<key>[微笑]</key>
	<string>微笑.png</string>
	<key>[吓]</key>
	<string>吓.png</string>
	<key>[邪恶]</key>
	<string>邪恶.png</string>
	<key>[疑问]</key>
	<string>疑问.png</string>
	<key>[阴暗]</key>
	<string>阴暗.png</string>
	<key>[咒骂]</key>
	<string>咒骂.png</string>
	<key>[猪头]</key>
	<string>猪头.png</string>
</dict>
</plist>
