<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idxPath</key>
		<string>1:0</string>
		<key>imgshowName</key>
		<string>高兴</string>
		<key>imgName</key>
		<string>1</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:1</string>
		<key>imgshowName</key>
		<string>发呆</string>
		<key>imgName</key>
		<string>2</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:2</string>
		<key>imgshowName</key>
		<string>做鬼脸</string>
		<key>imgName</key>
		<string>3</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:3</string>
		<key>imgshowName</key>
		<string>装酷</string>
		<key>imgName</key>
		<string>4</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:4</string>
		<key>imgshowName</key>
		<string>邪恶笑</string>
		<key>imgName</key>
		<string>5</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:5</string>
		<key>imgshowName</key>
		<string>晕</string>
		<key>imgName</key>
		<string>6</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:6</string>
		<key>imgshowName</key>
		<string>变脸</string>
		<key>imgName</key>
		<string>7</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:7</string>
		<key>imgshowName</key>
		<string>阴险</string>
		<key>imgName</key>
		<string>8</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:8</string>
		<key>imgshowName</key>
		<string>发怒</string>
		<key>imgName</key>
		<string>9</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:9</string>
		<key>imgshowName</key>
		<string>心</string>
		<key>imgName</key>
		<string>10</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:10</string>
		<key>imgshowName</key>
		<string>心碎</string>
		<key>imgName</key>
		<string>11</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:11</string>
		<key>imgshowName</key>
		<string>小疑惑</string>
		<key>imgName</key>
		<string>12</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:12</string>
		<key>imgshowName</key>
		<string>委屈</string>
		<key>imgName</key>
		<string>13</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:13</string>
		<key>imgshowName</key>
		<string>鄙视</string>
		<key>imgName</key>
		<string>14</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:14</string>
		<key>imgshowName</key>
		<string>睡觉</string>
		<key>imgName</key>
		<string>15</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:15</string>
		<key>imgshowName</key>
		<string>衰</string>
		<key>imgName</key>
		<string>16</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:16</string>
		<key>imgshowName</key>
		<string>伤心</string>
		<key>imgName</key>
		<string>17</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:17</string>
		<key>imgshowName</key>
		<string>色色</string>
		<key>imgName</key>
		<string>18</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:18</string>
		<key>imgshowName</key>
		<string>瞎琢磨</string>
		<key>imgName</key>
		<string>19</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:19</string>
		<key>imgshowName</key>
		<string>亲亲</string>
		<key>imgName</key>
		<string>20</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:20</string>
		<key>imgshowName</key>
		<string>敲打</string>
		<key>imgName</key>
		<string>21</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:21</string>
		<key>imgshowName</key>
		<string>变形</string>
		<key>imgName</key>
		<string>22</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:22</string>
		<key>imgshowName</key>
		<string>汗</string>
		<key>imgName</key>
		<string>23</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:23</string>
		<key>imgshowName</key>
		<string>困</string>
		<key>imgName</key>
		<string>24</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:24</string>
		<key>imgshowName</key>
		<string>哭</string>
		<key>imgName</key>
		<string>25</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:25</string>
		<key>imgshowName</key>
		<string>扣鼻屎</string>
		<key>imgName</key>
		<string>26</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:26</string>
		<key>imgshowName</key>
		<string>可怜</string>
		<key>imgName</key>
		<string>27</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:27</string>
		<key>imgshowName</key>
		<string>可爱</string>
		<key>imgName</key>
		<string>28</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:28</string>
		<key>imgshowName</key>
		<string>惊讶</string>
		<key>imgName</key>
		<string>29</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:29</string>
		<key>imgshowName</key>
		<string>憨笑</string>
		<key>imgName</key>
		<string>30</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:30</string>
		<key>imgshowName</key>
		<string>奋斗</string>
		<key>imgName</key>
		<string>31</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:31</string>
		<key>imgshowName</key>
		<string>发吻</string>
		<key>imgName</key>
		<string>32</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:32</string>
		<key>imgshowName</key>
		<string>饭</string>
		<key>imgName</key>
		<string>33</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:33</string>
		<key>imgshowName</key>
		<string>再见</string>
		<key>imgName</key>
		<string>34</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:34</string>
		<key>imgshowName</key>
		<string>撞墙</string>
		<key>imgName</key>
		<string>35</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:35</string>
		<key>imgshowName</key>
		<string>顶</string>
		<key>imgName</key>
		<string>36</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:36</string>
		<key>imgshowName</key>
		<string>惊雷</string>
		<key>imgName</key>
		<string>37</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:37</string>
		<key>imgshowName</key>
		<string>挨巴掌</string>
		<key>imgName</key>
		<string>38</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:38</string>
		<key>imgshowName</key>
		<string>悄悄地</string>
		<key>imgName</key>
		<string>39</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:39</string>
		<key>imgshowName</key>
		<string>元宝</string>
		<key>imgName</key>
		<string>40</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:40</string>
		<key>imgshowName</key>
		<string>太阳</string>
		<key>imgName</key>
		<string>41</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:41</string>
		<key>imgshowName</key>
		<string>茶</string>
		<key>imgName</key>
		<string>42</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:42</string>
		<key>imgshowName</key>
		<string>便便</string>
		<key>imgName</key>
		<string>43</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:43</string>
		<key>imgshowName</key>
		<string>冰激凌</string>
		<key>imgName</key>
		<string>44</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:44</string>
		<key>imgshowName</key>
		<string>钻石</string>
		<key>imgName</key>
		<string>45</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:45</string>
		<key>imgshowName</key>
		<string>17y</string>
		<key>imgName</key>
		<string>46</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:46</string>
		<key>imgshowName</key>
		<string>兔</string>
		<key>imgName</key>
		<string>47</string>
	</dict>
	<dict>
		<key>idxPath</key>
		<string>1:47</string>
		<key>imgshowName</key>
		<string>棒</string>
		<key>imgName</key>
		<string>48</string>
	</dict>
</array>
</plist>
